//Colores
$color-primario: #690202;
$color-secundario: #ffcc00;
$color-fuente: white;
$color-subtitulo: antiquewhite;
//Fuentes
$fuente-principal: "Oswald";
$fuente-secundaria: "Caveat";
//Tamaño de fuentes
$tamanio-fuente-sm: 1.2rem;
$tamanio-fuente-md: 1.5rem;
$tamanio-fuente-lg: 1.8rem;
$tamanio-fuente-xlg: 2.5rem;
$tamanio-fuente-xxlg: 3rem;
$tamanio-fuente-xxxlg: 3.5rem;
$tamanio-fuente-xxxxlg: 6rem;
//Bordes redondeados.
$border-radius-normal: 5px;
//Padding
$padding-sm: 5px;
$padding-md: 10px;


