@use "variables" as *;
@use "sass:color";
@use "mixins";



/* Reset de CSS básico */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border-bottom: 1vh solid #690202;
  /* Banner del <header> distinto del <body>, imagen centrada */
  background: url(assets/imagenes/banner-background.png) no-repeat;
  background-position: center;
  background-size: cover;
}

header nav {
  margin-left: 2%;
}

.navbar {
  /* "flex-wrap: wrap" para que se coloque debajo si no entra.  */
  display: flex;
  flex-wrap: wrap;
  align-items: end;
}

.navbar h1 {
  font-size: $tamanio-fuente-xlg;
  color: $color-primario;
  text-shadow: $color-fuente -3px 3px 1px;
}


.navbar-brand img {
  height: 5rem;
  /* Brillo normal */
  filter: brightness(100%);
  /* Suaviza la transición */
  transition: filter 0.3s ease-in-out;
}

/* Uso de pseudoclase :hover */
.navbar-brand img:hover {
  /* Aumenta el brillo al pasar el mouse */
  filter: brightness(150%);
}

/* CSS personalizado para el botón hamburguesa */
.navbar-toggler .navbar-toggler-icon {
  background-color: $color-primario;
}

.navbar-nav a {
  color: $color-primario;
  font-size: $tamanio-fuente-sm;
  /* Negrita con font-weight */
  font-weight: bold;
  /* Espacio a los costados */
  padding: 0vh 4vw;
  text-align: center;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.514);
  /* Bordes redondeados */
  border-radius: $border-radius-normal;
  /* Transiciones suaves */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar-nav a:hover {
  /* Aumenta la opacidad al pasar el mouse */
  background-color: rgba(255, 255, 255, 0.603);
  /* Ligeramente mas grande con transform. */
  transform: scale(1.05);
  color: $color-primario;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Media queries para <nav> de desktop. */

@media (min-width: 1024px) {

  /* Clase creada especificamente para pantallas grandes. */
  .logo-desktop {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .navbar h1 {
    font-size: $tamanio-fuente-xxxxlg;
    line-height: 80px;
  }

  .navbar-brand img {
    height: 20vh;
    /* transform translate x o y para moverlo ligeramente por cuestiones esteticas sin tocar la imagen.
    Averiguar si existe otra forma */
    transform: translateY(1vh);
  }

  .navbar-nav a {
    margin-top: 2.5%;
    font-size: $tamanio-fuente-lg;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Cambiamos flexbox por grid con responsive entre mobile y desktop */
.catalogo {
  display: grid;
  /* 2 columnas en mobile */
  grid-template-columns: 1fr 1fr;
  /* Espacio entre elementos */
  gap: 5px;
  width: 95%;
  margin: 1% auto;
  box-sizing: border-box;
}

.catalogo a {
  /* Atributos necesarios para que las cajas de las imagenes se vean iguales. Acompañar con "object-fit: cover" en las imagenes. */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  /* Altura fija para mantener uniformidad */
  overflow: hidden;
  /* Evita desbordes de imágenes grandes */
}

.catalogo img {
  width: 100%;
  height: 100%;
  /* Recorta imágenes manteniendo la proporción. */
  object-fit: cover;
  @include mixins.borde-estandar;
}

/* ------------------------------------------------------------------------------------------------------------- */

@media (min-width: 1024px) {

  .catalogo {
    /* 4 columnas en pantallas grandes */
    grid-template-columns: repeat(4, 1fr);
  }

  .catalogo a {
    /* Aumenta la altura para pantallas más grandes */
    height: 250px;
  }
}

/* ------------------------------------------------------------------------------------------------------------- */


body {
  /* Fuente de Google fonts para todo el sitio */
  font-family: $fuente-principal;
  /* Fondo en degrade para todo el sitio. */
  /* Tratar de aplicar imagen en movimiento al fondo */
  background: url(assets/imagenes/background-body.png);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

body h2 {
  font-size: $tamanio-fuente-lg;
  color: $color-fuente;
  margin-left: 2.5%;
  padding-top: $padding-md;
}


h3 {
  color: $color-fuente;
  font-size: $tamanio-fuente-lg;
  margin-left: 2.5%;
  margin-top: 4.5vh;
}

iframe {
  /* No olvidar sacar los atributos en linea de los iframe, por ejemplo el border */
  @include mixins.borde-estandar;
  height: 30vh;
  width: 95%;
  margin: 2.5%;
}

/* .caja-index Utiliza flexbox para mobile y Grid para Desktop. */
.caja-index {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

body p {
  font-size: $tamanio-fuente-md;
  color: $color-fuente;
}

a {
  text-decoration: none;
  /* Color heredado si no se especifica */
  color: inherit;
}

.noticia {
  display: flex;
  flex-direction: column;
  /* Alternativa etiqueta <hr> */
  border-top: 2px solid $color-primario;
  border-bottom: 2px solid $color-primario;
  padding: $padding-sm;
  margin: 0 2.5%;
  width: 95%;
}

/* Todas las imagenes dentro de la clase noticia */
.noticia img {
  width: 70vw;
  /* Height auto para que no se deforme la imagen */
  height: auto;
  margin-top: 10px;
  align-self: center;
  @include mixins.borde-estandar;
}

.contenido-noticia h3 {
  font-size: $tamanio-fuente-sm;
  margin: 2%;
}

.contenido-noticia p {
  color: $color-subtitulo;
  font-size: $tamanio-fuente-sm;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: $color-primario;
  text-align: center;
  font-size: $tamanio-fuente-md;
  color: $color-fuente;
  padding: $padding-sm;
}

footer a {
  margin: 0;
  /* Alinear elementos sin usar flex. */
  justify-content: space-around;
}

/* ------------------------------------------------------------------------------------------------------------- */

@media (min-width: 1024px) {
  body h2 {
    @include mixins.titulos-desktop ;
  }

  h3 {
    font-size: $tamanio-fuente-xxlg;
    margin-left: 2.5%;
    margin-top: 2.5vh;
  }

  iframe {
    width: 95%;
    height: 50vh;
    margin: 0;
  }

  .caja-index {
    @include mixins.grid-dos-columnas;
  }

  .pagina-principal {
    flex: 1;
  }

  .noticia {
    flex-direction: row;
    padding: 2%;
  }

  .noticia img {
    width: 30%;
    height: auto;
    margin-right: 20px;
    margin-top: 0;
  }

  .contenido-noticia h3, .contenido-noticia p {
    font-size: $tamanio-fuente-md;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
  }
}

/* ------------------------------------------------------------------------------------------------------------- */

.formulario {
  color: $color-fuente;
  display: flex;
  /* flex-direction para acomodarlo en columna */
  flex-direction: column;
  max-width: 80%;
  /* Manera momentanea de acomodarlo. Cada valor es una dirección, Arriba, derecha, abajo e izquierda */
  margin: 0 10%;
  /* atributo gap para separar los distintos label/input */
  gap: 10px;
}

.formulario label {
  font-size: $tamanio-fuente-md;
}

/* Manera de agrupar elementos en comun, separando con "," */
.formulario input,
.formulario select,
.formulario textarea {
  margin: 5px;
  padding: $padding-md;
  @include mixins.borde-estandar;
}

.formulario input[type="submit"] {
  background-color: $color-primario;
  color: $color-fuente;
  border: none;
  cursor: pointer;
  padding: $padding-md;
  border-radius: $border-radius-normal;
  /* para alejarlo del footer */
  margin-bottom: 7vh;
}

/* cambiar de color (mas oscuro al pasar el mouse) */
.formulario input[type="submit"]:hover {
  background-color: color.adjust(#690202, $lightness: -10%);
}

/* ------------------------------------------------------------------------------------------------------------- */

@media (min-width: 1024px) {
  .formulario {
    max-width: 80%;
    @include mixins.grid-dos-columnas;
    align-items: center;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */

.preview {
  /* Esto es lo que contiene cada link */
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 2.5%;
  border-top: 1px solid $color-primario;
  border-bottom: 2px solid $color-primario;
  padding: 15px 0;
}

.preview-caja {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vh;
  text-align: center;
}

.preview-imagen {
  flex: 1;
  object-fit: cover;
  align-items: center;
  /* para que no se pegue al texto */
  margin-bottom: 2%;
  @include mixins.borde-estandar;
  height: 1vh;
  max-height: 25vh;
}

.preview-texto {
  /* Solución para que el texto ocupe toda la caja en una proporcion 1 a 5. */
  flex: 5;
}

.preview-titulo {
  margin: 0;
  font-size: $tamanio-fuente-sm;
  color: $color-fuente;
}

.preview-descripcion {
  font-size: $tamanio-fuente-sm;
  /* Ajustar color */
  color: $color-subtitulo;
}

.nota-periodistica {
  display: flex;
  flex-direction: column;
  margin: 2.5%;
  width: 95%;
}

.nota-periodistica img {
  flex: 1;
  @include mixins.borde-estandar;
  width: 100%;
  height: auto;
}

.nota-periodistica p {
  flex: 1;
  /* Usar display flex aunque la clase nota-periodistica tenga display flex para que funcione en sus elementos "hijos" */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin: 1%;
  font-size: $tamanio-fuente-md;
}

/* Similar a la clase preview pero un poco mas compleja. */
.producto {
  display: flex;
  flex-direction: column;
  margin: 2.5%;
  text-align: center;
}

.producto-logo {
  flex: 1;
  width: 100%;
  @include mixins.borde-estandar;
  background-color: $color-primario;
}

.producto-descripcion {
  flex: 4;
}

.logo {
  height: 20vh;
  object-fit: cover;
  width: 90%;
}

/* Los border-radius varian segun el tipo de pantalla. */
.producto h2 {
  color: $color-fuente;
  padding: 5px;
  background-color: $color-primario;
  margin: 0;
  padding-left: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.producto p {
  color: $color-primario;
  background-color: $color-secundario;
  padding: $padding-md;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  height: auto;
  border: 5px solid $color-primario;
  text-align: center;
  display: flex;
}

.producto-logo img {
  max-width: 80%;
  margin: 0 10%;
}

.informacion {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: space-around;
  margin: 2.5%;
  border-top: 10px double $color-primario;
}

.informacion img {
  width: 25%;
  max-height: 30vh;
  object-fit: cover;
  @include mixins.borde-estandar;
}

address {
  /* Se aplica a los iconos de E-mail, telefono y Instagram. */
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
}

address a img {
  height: 8vh;
  /* Con filter: invert cambiamos los iconos negros por blancos con el valor 1 */
  filter: invert(1);
}

/* Antes estilos en linea ahora aplicados con CSS para mas limpieza en el codigo y mantenibilidad. */
.about-us {
  padding: 3.5%;
  text-align: justify;
  font-family: $fuente-secundaria, cursive;
  border-top: 5px solid $color-secundario;
  border-bottom: 5px solid $color-secundario;
}

.about-us h2 {
  font-size: $tamanio-fuente-xxxlg;
  color: $color-fuente;
}

.about-us p {
  font-size: $tamanio-fuente-md;
  line-height: 1.2;
  color: $color-fuente;
  padding: 3.5%;
  line-height: 90%
}

/* -------------------------------------------------------------------- */

@media (min-width: 1024px) {
  .preview {
    display: flex;
  }

  .preview-caja {
    flex-direction: row;
  }

  .preview-imagen {
    width: auto;
    margin: 0 2.5%;
    height: 18vh;
  }

  .preview-titulo {
    font-size: $tamanio-fuente-lg;
  }

  .preview-descripcion {
    font-size: $tamanio-fuente-md;
  }

  .nota-periodistica {
    flex-direction: row;
    flex-wrap: wrap;
    display: block;
    justify-content: center;
  }

  .nota-periodistica div {
    @include mixins.grid-dos-columnas;
  }

  .nota-periodistica p {
    font-size: $tamanio-fuente-lg;
  }

  .nota-periodistica img {
    margin: 0 2.5%;
    height: 30rem;
  }

  .producto {
    flex-direction: row;
  }

  .producto-logo {
    width: 100%;
    padding: 0;
    border-top-right-radius: 0px;
  }

  .producto h2 {
    border-top-left-radius: 0px;
  }

  .producto-logo img {
    margin-top: 2.5%;
    max-height: 35vh;
  }

  .producto p {
    font-size: $tamanio-fuente-lg;
    border-bottom-left-radius: 0px;
  }

  .informacion {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    justify-items: center;
  }


  .informacion img {
    margin: 0 2.5%;
    width: 95%;
  }

  .informacion img,
  .informacion iframe,
  .informacion table {
    max-height: 40vh;
  }

  .about-us h2 {
    font-size: $tamanio-fuente-xxxxlg;
    margin-top: 0%;
    text-decoration: none;
  }

  .about-us p {
    font-size: $tamanio-fuente-xlg;
    text-align: center;
    line-height: 90%
  }

  .dos-columnas {
    @include mixins.grid-dos-columnas;
    grid-template-columns: 1fr 1fr;
  }
}


/* -------------------------------------------------------------------- */