/* Reset de CSS básico */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border-bottom: 1vh solid #690202;
  background: url(assets/imagenes/banner-background.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
}

.navbar h1 {
  font-size: 2.5rem;
  color: #690202;
  text-shadow: white -3px 3px 1px;
}

.navbar-brand img {
  height: 5rem;
  /* Brillo normal */
  filter: brightness(100%); 
  /* Suaviza la transición */
  transition: filter 0.3s ease-in-out; 
}


.navbar-brand img:hover {
  /* Aumenta el brillo al pasar el mouse */
  filter: brightness(150%); 
}


/* CSS personalizado para el botón hamburguesa */
/* Ver de agregar para que la transicion al abrir el boton sea mas delicada */
.navbar-toggler .navbar-toggler-icon {
  background-color: #690202;
}

.navbar-nav a {
  color: #690202;
  font-size: 1.2rem;
  /* Negrita con font-weight */
  font-weight: bold;
  /* Espacio a los costados */
  padding: 0vh 4vw;
  text-align: center;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.514);
   /* Bordes redondeados */
  border-radius: 10px;
  /* Transiciones suaves */
  transition: background-color 0.3s ease, transform 0.2s ease;

}

.navbar-nav a:hover {
  /* Aumenta la opacidad al pasar el mouse */
  background-color: rgba(255, 255, 255, 0.603);
  /* Ligeramente más grande */
  transform: scale(1.05);
  color: #690202;
}



@media (min-width: 1024px) {

  /* Clase creada especificamente para pantallas grandes. */
  .logo-desktop {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .navbar h1 {
    font-size: 6rem;
    line-height: 80px;
  }

  .navbar-brand img {
    height: 30vh;
    /* transform translate x o y para moverlo ligeramente por cuestiones esteticas sin tocar la imagen.
    Averiguar si existe otra forma */
    transform: translateY(3vh);

  }


  .navbar-nav a{
    font-size: 2rem;
  }
}

/* Cambiamos flexbox por grid con responsive entre mobile y desktop */
.catalogo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* 2 columnas en mobile */
  gap: 5px;
  /* Espacio entre elementos */
  width: 95%;
  margin: 1% auto;
  box-sizing: border-box;
}

.catalogo a {
/* Atributos necesarios para que las cajas de las imagenes se vean iguales. Acompañar con cover en las imagenes. */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  /* Altura fija para mantener uniformidad */
  overflow: hidden;
  /* Evita desbordes de imágenes grandes */
}

.catalogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Recorta imágenes manteniendo la proporción */
  border-radius: 10px;
  border: 1px solid #690202;
}


@media (min-width: 1024px) {

  .catalogo {
    grid-template-columns: repeat(4, 1fr);
    /* 4 columnas en pantallas grandes */
  }

  .catalogo a {
    height: 250px;
    /* Aumenta la altura para pantallas más grandes */
  }
}



body {
  /* Fuente de Google fonts para todo el sitio */
  font-family: 'Oswald', sans-serif;
  /* Fondo en degrade para todo el sitio */
  /* Tratar de aplicar imagen en movimiento al fondo */
  background: url(assets/imagenes/background-body.png);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

body h2 {
  font-size: 1.8rem;
  color: white;
  margin-left: 2.5%;
  padding-top: 2vh;
}


h3 {
  color: white;
  font-size: 1.8rem;
  margin-left: 2.5%;
  margin-top: 4.5vh;
}

iframe {
  /* No olvidar sacar los atributos en linea de los iframe, por ejemplo el border */
  border: 3px solid #690202;
  border-radius: 10px;
  margin-left: 2.5%;
  height: 40vh;
  width: 95%;
  margin-top: 5%;
}

/* .caja-index Utiliza flexbox para mobile y Grid para Desktop. */
.caja-index {
  display: flex;
  flex-direction: column;
}


body p {
  font-size: 1.2rem;
  color: white;
}

a {
  text-decoration: none;
  /* Color heredado si no se especifica */
  color: inherit;
}

.noticia {
  display: flex;
  flex-direction: column;
  /* Alternativa etiqueta <hr> */
  border-top: 2px solid #690202;
  border-bottom: 2px solid #690202;
  padding: 5px;
  margin: 0 2.5%;
  width: 95%;

}

/* Todas las imagenes dentro de la clase noticia */
.noticia img {
  width: 70vw;
  /* Height auto para que no se deforme la imagen */
  height: auto;
  margin-top: 10px;
  align-self: center;
  border-radius: 5px;
  border: 5px solid #690202fc;


}

.contenido-noticia h3 {
  font-size: 1.5rem;
  margin: 2%;
}

.contenido-noticia p {
  color: antiquewhite;
  font-size: 1.3rem;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #690202fc;
  text-align: center;
  font-size: 25px;
  color: white;
  padding: 5px;

}

footer a {
  /* Espacio a los lados */
  margin: 0 px;
  /* Alinear elementos sin usar flex. */
  justify-content: space-around;
}



@media (min-width: 1024px) {
  body h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 3rem;
    margin-left: 2.5%;
    margin-top: 2.5vh;
  }

  iframe {
    width: 80%;
    height: 40vh;
  }

  .caja-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2.5%;

  }

  .pagina-principal {
    flex: 1;
  }

  .noticia {
    flex-direction: row;
    padding: 2%;
  }

  .noticia img {
    width: 30%;
    height: auto;
    margin-right: 20px;
    margin-top: 0;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
  }

}

.formulario {
  color: white;
  display: flex;
  /* flex-direction para acomodarlo en columna*/
  flex-direction: column;
  max-width: 80%;
  /* Manera momentanea de acomodarlo. Cada valor es una dirección, Arriba, derecha, abajo e izquierda */
  margin: 0 10%;
  /* atributo gap para separar los distintos label/input  */
  gap: 10px;
}

.formulario label {
  font-size: 1.5rem;
}

/* Manera de agrupar elementos en comun, separando con "," */
.formulario input,
.formulario select,
.formulario textarea {
  /* este width es del 100% de la clase "formulario" */
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  /* Bordes redondeados */
  border-radius: 5px;
}

.formulario input[type="submit"] {
  background-color: #690202;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  /* para alejarlo del footer */
  margin-bottom: 7vh;
}

/* cambiar de color (mas oscuro al pasar el mouse */

.formulario input[type="submit"]:hover {
  background-color: #4d0404fc;
}

@media (min-width: 1024px) {
  .formulario {
    max-width: 20%;
  }
}



.preview {
  /* Esto es lo que contiene cada link */
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 2.5%;
  border-top: 1px solid #690202;
  border-bottom: 2px solid #690202;
  padding: 15px 0;
}


.preview-caja {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vh;
  text-align: center;
}

.preview-imagen {
  width: auto;
  height: auto;
  align-items: center;
  /* para que no se pegue al texto */
  margin-bottom: 2%;
  border: 2px solid black;
  border-radius: 5px;
  max-height: 25vh;
}

.preview-texto {
  /* Solución para que el texto ocupe toda la caja */
  flex: 1;
}

.preview-titulo {
  margin: 0;
  font-size: 1.7rem;
  color: white
}

.preview-descripcion {
  font-size: 1.4rem;
  /* Ajustar color */
  color: antiquewhite
}

.nota-periodistica {
  display: flex;
  flex-direction: column;
  margin: 2.5%;
  width: 95%;
}

.nota-periodistica img {
  flex: 1;

  border-radius: 10px;
  border: 2px solid black;
  width: 100%;
  height: auto;

}

.nota-periodistica p {
  flex: 1;
  /* Usar display flex aunque la clase nota-periodistica tenga display flex para que funcione en sus elementos "hijos" */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin: 1%;
  font-size: 1.2rem;
}


/* Similar a la clase preview pero un poco mas compleja. */
.producto {
  display: flex;
  flex-direction: column;
  margin: 2.5%;
  text-align: center;
}



.producto-logo {
  width: 100%;
  border: 20px solid #690202;
  background-color: #690202;
  border-radius: 10px;



}

.producto h2 {
  color: white;
  padding: 5px;
  background-color: #690202;
  margin: 0;
  padding-left: 20px;
  border-radius: 10px;

}

.producto p {
  background-color: #ffcc00;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  height: auto;
  border: 5px solid #ffcc00;
  text-align: center;
  display: flex;
}

.producto-logo img {
  max-width: 80%;
  margin: 0 10%;


}

.producto-logo label {
  font-size: 30px;
  padding: 5px;
  color: white;
}


.informacion {
  display: flex;
  padding: 10px;
  margin: 2.5%;
  border-top: 10px double #690202;
  display: flex;
  flex-direction: column;

}

.informacion img {
  width: 25%;
  height: auto;
  border: 5px solid #690202;
}

.menu {
  display: flex;

}

.menu ul {
  width: 40%;
}

.menu img {
  width: 60%;
}



/* Si se agregan direcciones quedarian del mismo tamaño que "adress a" */
address {
  display: flex;
  font-size: 1.5rem;
  padding-bottom: 1.5%;
}

address a {
  font-size: 1.5rem;
  text-decoration: none;
  margin: 20px;
}



.menu {
  display: grid;
  grid-template-columns: 1fr;
  /* Una columna en mobile */
  gap: 15px;
  /* Espaciado entre elementos */
  justify-items: center;
  /* Centrar elementos en el grid */


}

table {
  width: 100%;
  /* Ocupa todo el ancho en mobile */
  max-width: 300px;
  /* Evita que sea demasiado grande */
  border-collapse: collapse;
  margin: auto;
}

th,
td {
  border: 2px solid #690202;
  padding: 5px;
  text-align: center;
}

th {
  background-color: #690202fc;
  font-size: 1.3rem;
  color: white;
}

td {
  font-size: 28px;
  background-color: #ffcc00;
  transition: transform 0.3s ease-in-out, background-color 0.3s;
}

td:hover {
  transform: scale(1.1);
  /* Aumenta el tamaño */
  background-color: #ffdd44;
  /* Color más claro */
}

.about-us {
  padding: 3.5%;
  text-align: justify;
  font-family: 'Caveat', cursive;
  border-top: 5px solid #ffcc00;
  border-bottom: 5px solid #ffcc00;

}

.about-us h2 {
  font-size: 3.5em;
  color: white;

}

.about-us p {
  font-size: 1.5rem;
  line-height: 1.2;
  color: white;
  padding: 3.5%;
}



@media (min-width: 1024px) {
  .preview {
    display: flex;

  }

  .preview-caja {
    flex-direction: row;
  }

  .preview-imagen {
    width: auto;
    margin: 0 2.5%;
    height: 18vh;
  }

  .nota-periodistica {
    flex-direction: row;
    flex-wrap: wrap;
    display: block;
    justify-content: center;
  }

  .nota-periodistica div {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  .nota-periodistica p {
    font-size: 1.9rem;

  }

  .nota-periodistica img {
    margin: 2.5%;
    height: 30rem;



  }

  .producto {
    flex-direction: row
  }

  .producto-logo {
    width: 100%;
    padding: 0;
  }

  .producto-logo img {
    margin-top: 5%;
    max-height: 35vh;

  }

  .producto p {
    font-size: 1.8rem;
  }

  .informacion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 0;
  }

  .informacion iframe,
  .informacion table {
    margin: 0;
    padding: 0;
    width: 90%;
    height: 40vh;
  }

  .about-us {

    padding: 5%;

  }

  .about-us h2 {
    font-size: 6rem;
    margin-top: 0%;
    text-decoration: none;
  }

  .about-us p {
    font-size: 2.8rem;
    text-align: center;
  }

}