@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as mixin;


/* Cambiamos flexbox por grid con responsive entre mobile y desktop */
.catalogo {
    display: grid;
    /* 2 columnas en mobile */
    grid-template-columns: 1fr 1fr;
    /* Espacio entre elementos */
    
    width: 95%;
    margin: 1% auto;
    box-sizing: border-box;

    a {
        /* Atributos necesarios para que las cajas de las imagenes se vean iguales. Acompa침ar con "object-fit: cover" en las imagenes. */
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 15vh;
        /* Altura fija para mantener uniformidad */
        overflow: hidden;
        /* Position relative ayuda a posicionar el overlay dentro del contenedor <a>*/
        position: relative;

        /* Evita desbordes de im치genes grandes */
        img {
            width: 100%;
            height: 100%;
            /* Recorta im치genes manteniendo la proporci칩n. */
            object-fit: cover;
            @include mixin.borde-estandar;
        }

        .overlay {
            position: absolute;   
            width: 100%;
            height: 100%;
            /* Fondo semitransparente */
            background: rgba(0, 0, 0, 0.5);
            color: white;
            display: flex;
            align-items:end;
            justify-content: start;
            text-align: right;
            text-transform: uppercase;
            opacity: 0;
            transition: opacity 0.3s ease;
            pointer-events: none;
            @include mixin.borde-estandar;
            .texto-overlay {
                margin: 10%;
            }
        }

        &:hover .overlay {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

/* .caja-index Utiliza flexbox para mobile y Grid para Desktop. */
.caja-index {
    display: flex;
    flex-direction: column;
    margin: 2%;
}


.noticia {
    display: flex;
    flex-direction: column;
    border-top: 2px solid $color-primario;
    border-bottom: 2px solid $color-primario;
    padding: $padding-sm;
    margin: 0 2.5%;
    width: 95%;

    .contenido-noticia {
        h3 {
            font-size: $tamanio-fuente-sm;
            margin: 2%;
        }

        p {
            color: $color-subtitulo;
            font-size: $tamanio-fuente-sm;
        }
    }

    img {
        width: 60vw;
        /* Height auto para que no se deforme la imagen */
        height: auto;
        margin-top: 10px;
        align-self: center;
        @include mixin.borde-estandar;
    }
}