// Media queries para tablet. 

@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as mixin;


@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .navbar {
        h1 {
            font-size: $tamanio-fuente-xxxlg;
        }
    }

    .navbar-nav {
        a {}
    }

    .navbar-brand {
        img {
            height: 5.5rem;
        }
    }

    //Agrandamos botón del menu hamburguesa.
    .navbar-toggler-icon {
        height: 5vh;
        width: 6vw;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
    }

    main {
        padding: 0 5%;
    }

    h2 {
        font-size: $tamanio-fuente-xlg;
    }

    iframe {
        height: 40vh;
        width: 85%;
        margin: 2.5% 7.5%;
    }

    .catalogo {
        a {
            height: 20vh;
        }
    }

    .noticia {
        flex-direction: row;

        img {
            width: 30vw;
            margin-right: 5vw;
        }
    }

    .contenido-noticias {
        h3 {
            font-size: $tamanio-fuente-lg;
        }
    }

    .texto-con-gif {
        justify-content: center;
    }

    .preview-caja {
        padding: 0;
        @include mixin.grid-dos-columnas;
    }

    .preview-imagen {
        height: 25vh;
        width: 85%;
    }

    .preview-titulo {
        font-size: $tamanio-fuente-md;
    }

    .nota-periodistica {
        p {
            font-size: $tamanio-fuente-md ;
        }

        img {
            width: 80vw;
        }
    }

    .producto {
        p {
            font-size: $tamanio-fuente-md;
        }
    }

    .producto-logo {
        width: 70%;
        align-self: center;
    }

    .about-us {
        p {
            font-size: $tamanio-fuente-lg;
        }
    }
}








@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .navbar {
        h1 {
            font-size: $tamanio-fuente-xlg;
        }
    }

    .navbar-nav {
        gap: 0.5rem;
    }

    main {
        padding: 0 2.5%;
    }

    iframe {

        height: 40vh;
    }

    .catalogo {
        grid-template-columns: repeat(4, 1fr);

        a {
            height: 20vh;
        }
    }

    .caja-index {
        @include mixin.grid-dos-columnas;
        grid-template-columns: 1fr 2fr;
        justify-content: center;
    }

    .noticia {
        flex-direction: row;
        height: 20vh;

        img {
            width: 30%;
            height: auto;
            margin-right: 20px;
            margin-top: 0;
        }
    }

    .contenido-noticia {
        overflow: hidden;
        text-overflow: ellipsis;

        h3 {
            font-size: $tamanio-fuente-sm;
        }

        p {
            font-size: $tamanio-fuente-sm;
            line-height: 100%;
        }
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
    }


    .seccion-dividida {
        @include mixin.grid-dos-columnas;
    }

    .preview {
        height: 30vh;
        overflow: hidden;
        justify-content: center;

        .preview-caja {
            flex-direction: row;
            text-align: left;
        }

        .preview-imagen {
            height: 18vh;
            width: 30%;
            margin-right: 5%;
        }
    }

    .about-us {
        p {
            font-size: $tamanio-fuente-lg;
        }
    }

    .pagina {
        img {
            width: 70%;
            margin: 0 auto;
        }
    }

    .formulario {
        margin: 0 25%;
    }

    .nota-periodistica {
        flex-direction: row;
        flex-wrap: wrap;
        display: block;
        margin: auto 0;
        justify-content: center;
        margin: 0 auto;


        div {
            @include mixin.grid-dos-columnas;
            justify-content: center;
            align-items: center;

        }

        p {
            font-size: $tamanio-fuente-sm;
            margin: 2% 5%;
        }

        img {
            margin: 0;
            height: 20rem;
        }
    }

    .producto {
        @include mixin.grid-dos-columnas
    }

    .producto-logo {
        height: 40vh;
    }

    .informacion {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
        border: none;
        iframe {
            height: 30vh;
            margin: 0 auto;
        }
    }













}


// Estilos específicos para tablet apaisada.