// Media queries para tablet. 

@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as mixin;


@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .navbar {
        h1 {
            font-size: $tamanio-fuente-xxxlg;
        }
    }

    .navbar-brand {
        img {
            height: 5.5rem;
        }
    }

    //Agrandamos botón del menu hamburguesa.
    .navbar-toggler-icon {
        height: 5vh;
        width: 6vw;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
    }

    main {
        padding: 0 5%;
    }

    h2 {
        font-size: $tamanio-fuente-xlg;
    }

    iframe {
        height: 40vh;
        width: 85%;
        margin: 2.5% 7.5%;
    }

    .catalogo {
        a {
            height: 20vh;
        }
    }

    .noticia {
        flex-direction: row;

        img {
            width: 30vw;
            margin-right: 5vw;
        }
    }

    .contenido-noticias {
        h3 {
            font-size: $tamanio-fuente-lg;
        }
    }

    .texto-con-gif {
        justify-content: center;
    }

    .preview-caja {
        padding: 0;
        @include mixin.grid-dos-columnas;

        .preview-imagen {
            height: 25vh;
            width: 85%;
        }

        .preview-texto {
            .preview-titulo {
                font-size: $tamanio-fuente-md;
            }
        }
    }

    .nota-periodistica {

        p {
            font-size: $tamanio-fuente-md ;
        }

        div {
            p {
                font-size: $tamanio-fuente-md ;
            }

            img {
                width: 80vw;
            }
        }
    }

    .producto {
        .producto-logo {
            width: 70%;
            align-self: center;
        }

        .producto-descripcion {
            p {
                font-size: $tamanio-fuente-md;
            }
        }
    }

    .about-us {
        .libro {
            .contenido {
                p {
                    font-size: $tamanio-fuente-lg;
                }
            }
        }
    }
}

/* Clase carousel de Bootstrap. */
.carousel {
    width: 100%;
    max-height: 35vh;
    overflow: hidden;
}

.carousel-inner,
.carousel-item,
.carousel-item img {
    width: 100%;
}

.carousel-item img {
    object-fit: cover;
}

/* Estilos para tablet con orientación  */

@media (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
    main {
        padding: 0 5%;
    }

    .navbar {
        h1 {
            font-size: $tamanio-fuente-xlg;
        }
    }

    .navbar-nav {
        gap: 0.5rem;
    }

    main {
        padding: 0 2.5%;
    }

    iframe {
        height: 40vh;
        width: 100%;
    }

    .catalogo {
        grid-template-columns: repeat(4, 1fr);

        a {
            height: 20vh;
        }
    }

    .caja-index {
        grid-template-columns: 1.5fr 2fr;
        justify-content: center;
        @include mixin.grid-dos-columnas;

        iframe {
            height: 40vh;
        }

        .noticia {
            flex-direction: row;
            height: 15vh;
            align-items: center;
            border-bottom: 5px solid $color-primario;

            .contenido-noticia {
                overflow: hidden;
                text-overflow: ellipsis;

                h3 {
                    font-size: $tamanio-fuente-sm;
                }

                p {
                    font-size: $tamanio-fuente-sm;
                    display: none;
                }
            }

            img {
                width: 90%;
                height: auto;
            }
        }

    }


    footer {
        flex-direction: row;
        justify-content: space-around;
    }


    .seccion-dividida {
        @include mixin.grid-dos-columnas;
    }

    .preview {
        height: 20vh;
        overflow: hidden;
        justify-content: center;

        .preview-caja {
            flex-direction: row;
            text-align: left;

            .preview-imagen {
                flex: 1;
                height: 15vh;
                width: 40%;
                margin-right: 5%;
            }

            .preview-texto {
                flex: 2;

                .preview-descripcion {
                    display: none;
                }
            }
        }


    }

    .about-us {
        p {
            font-size: $tamanio-fuente-lg;
        }
    }

    .pagina {
        img {
            width: 70%;
            margin: 0 auto;
        }
    }

    .formulario {
        margin: 0 15%;
        width: 100%;

    }

    .nota-periodistica {
        flex-direction: row;
        flex-wrap: wrap;
        display: block;
        justify-content: center;

        p {
            font-size: $tamanio-fuente-md;
        }

        div {
            display: grid;
            align-items: center;
            justify-content: center;
            grid-template-columns: 1fr;

            p {
                font-size: $tamanio-fuente-md;
            }

            img {
                margin: 0 auto;
                height: 40vh;

            }
        }
    }

    .about-us {
        .libro {
            width: 60%;

            .contenido {
                p {
                    font-size: $tamanio-fuente-md
                }
            }
        }
    }

    .formulario {
        margin: 0 auto;
    }

    .producto {
        @include mixin.grid-dos-columnas;

        .producto-logo {
            height: 40vh;
            width: 90%;

            div {
                .logo {
                    width: 60%;
                }
            }

            address {
                a {
                    img {
                        height: 5vh
                    }
                }
            }
        }
    }

    .informacion {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border: none;

        iframe {
            height: 30vh;
            margin: 0 auto;
        }
    }

    /* Clase carousel de Bootstrap. */
    .carousel {
        display: block;
        width: 100%;
        height: 30vh;
        overflow: hidden;
    }

    .carousel-inner,
    .carousel-item,
    .carousel-item img {
        width: 100%;
        height: 100%;
    }

    .carousel-item img {
        object-fit: cover;
    }
}


// Estilos específicos para tablet apaisada.