@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as mixin;


@media (min-width: 1200px) {

  main {
    padding: 0;
  }

  /* Clase creada especificamente para pantallas grandes. */
  .logo-desktop {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .navbar h1 {
    font-size: $tamanio-fuente-xxxxlg;
    line-height: 80px;
  }

  .navbar-brand img {
    height: 18vh;
    /* transform translate x o y para moverlo ligeramente por cuestiones esteticas sin tocar la imagen.
      Averiguar si existe otra forma */
    transform: translateY(1vh);
  }

  .navbar-nav {
    flex-wrap: wrap;
    gap: 1rem;

    .nav-item {
      flex: 1 1 auto;
    }

    a {
      margin-top: 2.5%;
      font-size: $tamanio-fuente-lg;
    }
  }

  .catalogo {
    /* 4 columnas en pantallas grandes */
    grid-template-columns: repeat(4, 1fr);

    a {
      /* Aumenta la altura para pantallas más grandes */
      height: 25vh;
    }
  }

  h2 {
    @include mixin.titulos-desktop;
  }

  h3 {
    font-size: $tamanio-fuente-xlg;
    margin-left: 2.5%;
    margin-top: 2.5vh;
  }

  .caja-index {
    @include mixin.grid-dos-columnas;

    .pagina-principal {
      flex: 1;
      border-bottom: 5px double $color-primario;
    }

    .noticia {
      flex-direction: row;
      padding: 2%;
      border-top: 5px solid $color-primario;

      .contenido-noticia {
        h3 {
          font-size: $tamanio-fuente-lg;
        }

        p {
          display: block;
          line-height: 130%;
        }
      }

      img {
        width: 90%;
        height: 90%;
        margin-right: 1rem;
        margin-top: 0;
      }
    }

    iframe {
      width: 80%;
      height: 80%;
    }
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
    font-size: $tamanio-fuente-md;
  }

  .formulario {
    max-width: 70%;
    align-items: center;
    font-size: $tamanio-fuente-md;
    @include mixin.grid-dos-columnas;
  }

  .texto-con-gif {
    justify-content: start;
    margin-left: 10%;
  }

  .preview {
    display: flex;

    .preview-caja {
      flex-direction: row;

      .preview-imagen {
        flex: 1;
        margin: 0 2.5%;
        height: 16vh;
      }

      .preview-texto {
        flex: 2;

        .preview-titulo {
          font-size: $tamanio-fuente-lg;
        }

        .preview-descripcion {
          font-size: $tamanio-fuente-md;
          line-height: 120%;
        }
      }
    }
  }

  .nota-periodistica {
    flex-direction: row;
    flex-wrap: wrap;
    display: block;
    justify-content: center;

    p {
      font-size: $tamanio-fuente-lg;
    }

    div {
      justify-content: center;
      align-items: center;
      margin: auto 0;
      @include mixin.grid-dos-columnas;

      p {
        font-size: $tamanio-fuente-lg;
      }

      img {
        margin: 0;
        height: auto;
        width: 95%;
      }
    }

    p {
      font-size: $tamanio-fuente-lg;
      margin: 2% 5%;
    }
  }



  .producto {
    margin: 0 auto;
    height: 50vh;
    width: 90%;


    .producto-logo {
      padding: 0;
      border-top-right-radius: 0px;

      div {
        .logo {
          height: 25vh;
          margin-top: 3%;
          width: 70%;
        }
      }

      address {
        a {
          img {
            height: 5vh;
          }
        }
      }
    }

    .producto-descripcion {
      h2 {
        border-top-left-radius: 0px;
      }

      p {
        font-size: $tamanio-fuente-lg;
        border-bottom-left-radius: 0px;
        line-height: 150%;
      }
    }
  }


  .informacion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    height: 40vh;

    iframe {
      height: 40vh;
      width: 95%;
    }
  }


  /* Clase carousel de Bootstrap. */
  .carousel {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .carousel-inner,
  .carousel-item,
  .carousel-item img {
    width: 95%;
    height: 99.99%;
  }

  .carousel-item img {
    object-fit: cover;
  }

  .seccion-dividida {
    @include mixin.grid-dos-columnas;
  }

  .about-us {
    height: 90vh;
    margin: 0;

    .toggle-libro {
      height: 10vh;
      width: 18vw;
      text-align: center;
      display: grid;
      align-items: center;
      font-size: $tamanio-fuente-xlg;
    }

    .libro {
      width: 50vw;
      height: 80vh;

      .contenido {
        p {
          font-size: $tamanio-fuente-xlg;
        }
      }
    }
  }
}