@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as mixin;


.nota-periodistica {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5%;
    width: 95%;

    img {

        @include mixin.borde-estandar;
        width: 90%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    p {
        flex: 1;
        /* Usar display flex aunque la clase nota-periodistica tenga display flex para que funcione en sus elementos "hijos" */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        margin: 2.5%;
        font-size: $tamanio-fuente-sm;
    }
}