@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as mixin;

/* Similar a la clase preview pero un poco mas compleja. */
.producto {
    display: flex;
    flex-direction: column;
    margin: 2.5%;
    text-align: center;

    .producto-logo {
        flex: 1;
        width: 100%;
        @include mixin.borde-estandar;
        background-color: $color-primario;
        padding-top: 2.5vh;

        div {
            .logo {
                height: 20vh;
                object-fit: cover;
                width: 70%;
            }
        }

        address {
            /* Se aplica a los iconos de E-mail, telefono y Instagram. */
            display: flex;
            justify-content: space-around;
            padding-top: 5%;

            a {
                img {
                    height: 5vh;
                    /* Con filter: invert cambiamos los iconos negros por blancos con el valor 1 */
                    filter: invert(1);
                }
            }
        }
    }

    .producto-descripcion {
        flex: 4;

        /* Los border-radius varian segun el tipo de pantalla. */
        h2 {
            color: $color-fuente;
            padding: 5px;
            background-color: $color-primario;
            margin: 0;
            padding-left: 20px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }

        p {
            font-size: $tamanio-fuente-sm;
            line-height: 120%;
            color: $color-primario;
            background-color: $color-secundario;
            padding: $padding-md;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            width: 100%;
            height: auto;
            border: 5px solid $color-primario;
            text-align: center;
            display: flex;
        }
    }
}

.informacion {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: space-around;
    margin: 2.5%;
    border-top: 10px double $color-primario;
}