@use"../abstracts/variables" as *;

//Estilos del footer para todas las paginas. 

footer {
    display: flex;
    flex-direction: column;
    background-color: $color-primario;
    text-align: center;
    font-size: $tamanio-fuente-md;
    color: $color-fuente;
    padding: $padding-sm;
    margin-top: 2%;
  }
  
  footer a {
    margin: 0;
    justify-content: space-around;
  }